name: Workflow Praticboutic javabackend DEV

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'  # adapte si besoin

    - name: Build application
      run: mvn clean package -DskipTests

    - name: Install lftp
      run: sudo apt-get update && sudo apt-get install lftp -y

    - name: Clean FTP directory
      run: |
        lftp -d -c "set sftp:connect-program 'ssh -a -x'; set ssl:verify-certificate false; open ftp://${{ secrets.FTP_JAVABACKENDSERVER }}; user ${{ secrets.FTP_JAVABACKENDUSERNAME }} ${{ secrets.FTP_JAVABACKENDPASSWORD }}; rm -f praticboutic_backend_java-0.0.1-SNAPSHOT.jar || echo 'File not found, skipping deletion.'; bye"

    - name: Deploy backend JAR via FTP
      run: |
        lftp -d -c "set sftp:connect-program 'ssh -a -x'; set ssl:verify-certificate false; open ftp://${{ secrets.FTP_JAVABACKENDSERVER }}; user ${{ secrets.FTP_JAVABACKENDUSERNAME }} ${{ secrets.FTP_JAVABACKENDPASSWORD }}; mirror -R ./target/ ./; bye"

    - name: Restart backend service (using password for SSH)
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.FTP_JAVABACKENDSERVER }}
        username: ${{ secrets.FTP_JAVABACKENDUSERNAME }}
        password: ${{ secrets.FTP_JAVABACKENDPASSWORD }}  # Authentification via mot de passe
        debug: true
        script: pkill -f 'java.*praticboutic_backend_java-0.0.1-SNAPSHOT.jar' || true; nohup java -jar -Dspring.profiles.active=dev ./praticboutic_backend_java-0.0.1-SNAPSHOT.jar > log.txt 2>&1 &

