name: Workflow Praticboutic javabackend DEV

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'  # adapte si besoin

    - name: Connexion SSH et déploiement
      uses: appleboy/ssh-action@v1.2.2
      with:
        host: ${{ secrets.FTP_JAVABACKENDSERVER }}
        username: ${{ secrets.FTP_JAVABACKENDUSERNAME }}
        key: ${{ secrets.FTP_JAVABACKENDSSH_KEY }}
        port: 22
        debug: true
        script: |
          # git pull origin main  # ou "master" selon ta branche
          git clone git@github.com:praticboutic/praticboutic-javabackend.git /var/www/vhosts/praticboutic.fr/javabackdev.praticboutic.fr
          # rm -rf /var/www/vhosts/praticboutic.fr/javabackdev.praticboutic.fr/*
          # git clone git@github.com:praticboutic/praticboutic-javabackend.git
          
          # cd /var/www/vhosts/praticboutic.fr/javabackdev.praticboutic.fr/src/main/resources/
          # cp application-dev.properties application.properties

          # cd /var/www/vhosts/praticboutic.fr/javabackdev.praticboutic.fr/
          # Stop l'app, nettoie, build avec le profil dev
          # mvn spring-boot:stop clean install -DskipTests -Dspring-boot.run.profiles=dev
          # Redémarre l'app avec le bon profil
          # nohup mvn spring-boot:start -DskipTests -Dspring-boot.run.profiles=dev &
            


